@charset "UTF-8";
.content-wrapper {
  background-color: #fff;
  left: 0;
  min-height: 100vh;
  position: relative;
  transition: all 0.5s ease;
  z-index: 1;
}

.omni-mobile-menu,
.toggle-btn {
  display: none;
}

.omni-mobile-menu {
  background-color: #025b85;
  bottom: 0;
  height: 100vh;
  left: 0;
  list-style: none;
  margin-top: 0;
  opacity: 0;
  padding-left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 0s ease 0.5s;
  width: 70vw;
  z-index: 0;
}
.omni-mobile-menu li {
  background-color: transparent;
  z-index: 1;
}
.omni-mobile-menu a,
.omni-mobile-menu .omni-dropdown-toggle {
  background-color: transparent;
  border-bottom: 2px solid #025176;
  color: #fff;
  display: block;
  font-size: 14px;
  font-weight: normal;
  padding: 20px 20px;
  text-decoration: none;
  transition: all 0.5s ease;
}
.omni-dropdown-toggle {
  cursor: pointer;
}
.omni-dropdown-toggle:after {
  content: "▾";
  display: inline-block;
  left: 5px;
  position: relative;
  top: 0;
  transition: transform 0.5s ease, top 0.5s ease;
}
.omni-dropdown-toggle.omni-menu-open:after {
  top: 2px;
  transform: rotate(-180deg);
}

.omni-dropdown-menu {
  display: none;
  list-style: none;
  padding-left: 0;
}
.omni-dropdown-menu li a,
.omni-dropdown-menu li .omni-dropdown-toggle {
  box-sizing: border-box;
  padding-left: calc(20px * 2);
}
.omni-dropdown-menu li ul li a,
.omni-dropdown-menu li ul li .omni-dropdown-toggle {
  padding-left: calc(20px * 3);
}

.toggle-btn {
  align-items: center;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px;
  transition: all 0.5s ease;
  z-index: 2;
}
.toggle-btn .hamburger-icon {
  background-color: #025b85;
  border-radius: 5px;
  height: 40px;
  padding: 0;
  transition: all 0.5s ease;
  width: 40px;
}
.hamburger {
  transition: all 0.5s ease;
  user-select: none;
  -webkit-user-select: none;
}
.hamburger .top {
  stroke-dasharray: 40 160;
}
.hamburger .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: all 0.5s ease;
}
.hamburger .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: all 0.5s ease;
}
.hamburger.active {
  transform: rotate(45deg);
}
.hamburger.active .top {
  stroke-dashoffset: -64px;
}
.hamburger.active .middle {
  transform: rotate(90deg);
}
.hamburger.active .bottom {
  stroke-dashoffset: -64px;
}
.hamburger .line {
  fill: none;
  stroke: #fff;
  stroke-width: 5.5;
  stroke-linecap: round;
  transition: all 0.5s ease;
}

body .omni-mobile-menu {
  left: calc(100vw - 70vw);
}
body.menu-open .toggle-btn {
  right: calc(70vw + 15px);
  transition: all 0.5s ease;
}
body.menu-open .content-wrapper {
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  left: -70vw;
  overflow: hidden;
}

.menu-open {
  overflow-y: hidden;
}
.menu-open .omni-mobile-menu {
  opacity: 1;
  overflow-x: hidden;
  transition: opacity 0s ease 0s;
}
.menu-open .content-wrapper {
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
}

@media screen and (max-width: 768px) {
  .omni-mobile-menu {
    display: block;
  }

  .toggle-btn {
    display: flex;
  }
}

/*# sourceMappingURL=mobile-menu.css.map */
