/* Table of Contents
    1. Globals
    2. Content
    3. Menu
    4. Toggle
    5. Open Left
    6. Open Right
    7. Open Full
    8. Media Queries
*/

/* Globals */
html,
body {
    font-family: sans-serif;
    font-size: 16px;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%;
    width: 100%;
}

body {
    overflow-x: hidden;
}

body.menu-open {
    overflow: hidden;
}

html.no-scroll {
    overflow-y: hidden;
}

/* Content */
.content-wrapper {
    background-color: #fff;
    bottom: 100%;
    left: 0;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
    overflow-x: hidden;
    position: relative;
    top: 0;
    transition: left 0.2s ease-in-out;
    z-index: 1;
}

.body-overlay {
    background: #fff;
    bottom: 0;
    height: 100vh;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.2s ease-in-out;
    width: 100vw;
    z-index: 1;
}

.menu-open .body-overlay {
    background: transparent;
    transition: all 0.2s ease-in-out;
    z-index: 2;
}

.content {
    padding: 60px 40px;
}

/* Menu */
.omni-mobile-menu,
.toggle-btn {
    display: none;
}

.omni-mobile-menu {
    background: #025b85;
    bottom: 0;
    height: 100vh;
    list-style: none;
    margin-top: 0;
    padding-left: 0;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    width: 70vw;
    z-index: 0;
}

.menu-open .omni-mobile-menu {
    overflow-x: hidden;
    overflow-y: scroll;
}

.omni-mobile-menu li {
    background-color: transparent;
    width: 100%;
    z-index: 1;
}

.omni-mobile-menu a {
    background: transparent;
    border-bottom: 2px solid #02547b;
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: normal;
    padding: 20px;
    text-decoration: none;
    transition: color 0.2s, background 0.5s;
}

.omni-mobile-menu a:hover {
    color: #fff;
}

.omni-dropdown-toggle {
    cursor: pointer;
}

.omni-dropdown-toggle:after {
    border-style: solid;
    border-width: 3px 3px 0 0;
    box-sizing: unset;
    content: '';
    display: inline-block;
    height: 5px;
    left: 15px;
    position: relative;
    top: 4px;
    transition: transform 0.3s ease;
    transform: rotate(135deg);
    vertical-align: top;
    width: 5px;
}

.omni-dropdown-toggle.omni-menu-open:after {
    top: 8px;
    transition: transform 0.3s ease;
    transform: rotate(-45deg);
}

.omni-dropdown-menu {
    color: #fff;
    display: none;
    font-size: 12px;
    list-style: none;
    padding-left: 0;
    z-index: 1;
}

.omni-dropdown-menu li {
    width: 100%;
}

.omni-dropdown-menu li a {
    display: block;
    padding-left: 50px;
    width: 100%;
}

.omni-dropdown-menu li ul li a {
    padding-left: 90px;
}

.swipe-area {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50px;
    z-index: 0;
}

/* Toggle */
.toggle-btn .hamburger {
    background-color: #025b85;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 9px 10px 11px;
}

.hamburger .icon-bar {
    background-color: #fff;
    border-radius: 1px;
    display: block;
    height: 3px;
    position: relative;
    transition: all 0.4s;
    width: 28px;
}

.hamburger .icon-bar:not(:last-child) {
    margin-bottom: 4px;
}

.hamburger .icon-bar:nth-of-type(2) {
    top: 1px;
}

.hamburger .icon-bar:nth-of-type(3) {
    top: 2px;
}

.menu-open .hamburger .icon-bar:nth-of-type(1) {
    top: 8px;
    transform: rotate(45deg);
}

.menu-open .hamburger .icon-bar:nth-of-type(2) {
    background-color: transparent;
}

.menu-open .hamburger .icon-bar:nth-of-type(3) {
    top: -6px;
    transform: rotate(-45deg);
}

/* Open Left */
.open-left .toggle-btn {
    left: 15px;
    position: fixed;
    right: auto;
    top: 15px;
    z-index: 2;
}

.open-left .toggle-btn,
.open-left .content-wrapper {
    transition: all 0.2s ease-in-out;
}

.open-left .omni-mobile-menu {
    width: 70vw;
    transition: left 0.2s ease-in-out;
}

.open-left.menu-open .toggle-btn {
    left: calc(70vw + 40px);
    transition: left 0.2s ease-in-out;
}

.open-left.menu-open .content-wrapper {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    left: 70vw;
    overflow: hidden;
    transition: left 0.2s ease-in-out;
}

.open-left.menu-open .body-overlay {
    left: 70vw;
}

/* Open Right */
.open-right .toggle-btn {
    left: auto;
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 2;
}

.open-right .toggle-btn,
.open-right .content-wrapper {
    transition: all 0.2s ease-in-out;
}

.open-right .omni-mobile-menu {
    left: 30vw;
    transition: left 0.2s ease-in-out;
}

.open-right.menu-open .toggle-btn {
    right: calc(70vw + 40px);
    transition: right 0.2s ease-in-out;
}

.open-right.menu-open .content-wrapper {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    left: -70vw;
    overflow: hidden;
    transition: left 0.2s ease-in-out;
}

.open-right.menu-open .body-overlay {
    left: -70vw;
}

/* Open Full */
.open-full .toggle-btn {
    left: auto;
    position: fixed;
    right: 15px;
    top: 15px;
    transition: top 0.2s ease-in-out;
    z-index: 2;
}

.open-full .content-wrapper {
    height: 100vh;
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

.open-full .omni-mobile-menu {
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100vw;
}

.open-full .omni-mobile-menu li {
    width: 100vw;
}

.open-full .body-overlay {
    opacity: 1;
}

.open-full.menu-open .toggle-btn {
    top: 0;
    transition: top 0.2s ease-in-out;
}

.open-full.menu-open .content-wrapper {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    z-index: -1;
}

.open-full.menu-open .body-overlay {
    opacity: 0;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .omni-mobile-menu,
    .toggle-btn {
        display: block;
    }
}