// Table of Contents
    // 1. Variables
    // 2. Globals
    // 3. Content
    // 4. Menu
    // 5. Toggle
    // 6. Open Left
    // 7. Open Right
    // 8. Open Top
    // 9. Open Full
    // 10. Media Queries

// Variables
$omni-blue: #025b85;
$transition: 0.2s ease-in-out;

// Globals
html,
body {
    font-family: sans-serif;
    font-size: 16px;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%;
    width: 100%;
}

body {
    overflow-x: hidden;
}

// Content
.content-wrapper {
    background-color: #fff;
    bottom: 100%;
    left: 0;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
    overflow-x: hidden;
    position: relative;
    top: 0;
    transition: left $transition;
    z-index: 1;
}

.body-overlay {
    background: #fff;
    bottom: 0;
    height: 100vh;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: all $transition;
    width: 100vw;
    z-index: 1;

    &.overlay-clear {
        transition: all $transition;
        z-index: -1;
    }
}

.content {
    padding: 60px 40px;
}

// Menu
.omni-mobile-menu,
.nav-toggle,
label[for="nav-toggle"] {
    display: none;
}

.omni-mobile-menu {
    background: $omni-blue;
    bottom: 0;
    height: 100%;
    list-style: none;
    margin-top: 0;
    padding-left: 0;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;

    &.menu-open {
        overflow-y: scroll;
    }

    li {
        background-color: transparent;
        width: 70%;
        z-index: 1;
    }

    a {
        background: transparent;
        border-bottom: 2px solid darken($omni-blue, 2%);
        color: #fff;
        display: block;
        font-size: 14px;
        font-weight: normal;
        padding: 20px;
        text-decoration: none;
        transition: color 0.2s, background 0.5s;

        &:hover {
            color: #fff;
        }
    }
}

.omni-dropdown-menu {
    color: #fff;
    display: none;
    font-size: 12px;
    list-style: none;
    padding-left: 0;
    z-index: 1;

    li {
        width: 100%;

        a {
            display: block;
            padding-left: 50px; 
            width: 100%;
        }

        ul li a {
            padding-left: 90px;
        }
    }
}

.swipe-area {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50px;
    z-index: 0;
}

// Toggle
.nav-toggle {
    // Hides Checkbox
    clip: rect(0, 0, 0, 0);
    position: absolute;
}

label[for="nav-toggle"] .hamburger {
    background-color: $omni-blue;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 9px 10px 11px;
}

.hamburger {
    .icon-bar {
        background-color: #fff;
        border-radius: 1px;
        display: block;
        height: 3px;
        position: relative;
        transition: all 0.4s;
        width: 28px;

        &:not(:last-child) {
            margin-bottom: 4px;
        }

        &:nth-of-type(2) {
            top: 1px;
        }

        &:nth-of-type(3) {
            top: 2px;
        }
    }
}

.nav-toggle + label.toggled .hamburger .icon-bar:nth-of-type(1) {
    top: 8px;
    transform: rotate(45deg);
}

.nav-toggle + label.toggled .hamburger .icon-bar:nth-of-type(2) {
    background-color: transparent;
}

.nav-toggle + label.toggled .hamburger .icon-bar:nth-of-type(3) {
    top: -6px;
    transform: rotate(-45deg);
}

// Open Left
.open-left {
    label[for="nav-toggle"] {
        left: 15px;
        position: fixed;
        right: auto;
        top: 15px;
        z-index: 2;
    }

    .nav-toggle + label, .open-left .content-wrapper {
        transition: all $transition;
    }

    .nav-toggle + label.toggled {
        left: 255px;
        transition: left $transition;
    }

    .content-wrapper.open-sidebar {
        box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
        left: 240px;
        max-height: 100vh;
        overflow: hidden;
        transition: left $transition;
    }

    .overlay-clear {
        left: 240px;
    }
}

// Open Right
.open-right {
    label[for="nav-toggle"] {
        left: auto;
        position: fixed;
        right: 15px;
        top: 15px;
        z-index: 2;
    }

    .nav-toggle + label, .open-right .content-wrapper {
        transition: all $transition;
    }

    .nav-toggle + label.toggled {
        right: 82%;
        transition: right $transition;
    }

    .content-wrapper.open-sidebar {
        box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
        left: -70%;
        max-height: 100vh;
        overflow: hidden;
        transition: left $transition;
    }

    .omni-mobile-menu {
        left: 30%;
        transition: left $transition;
    }

    .overlay-clear {
        left: -70%;
    }
}

// Open Top
.open-top {
    label[for="nav-toggle"] {
        left: auto;
        position: fixed;
        right: 15px;
        top: 15px;
        z-index: 2;
    }

    .nav-toggle + label {
        transition: top $transition;
    }

    .content-wrapper {
        position: absolute;
        top: 0;
        transition: all $transition;
        z-index: 1;
    }

    .nav-toggle:checked + label {
        top: 0;
        transition: top $transition;
    }

    .nav-toggle:checked ~ .content-wrapper {
        transition: all $transition;
        position: absolute;
    }

    .omni-mobile-menu {
        display: table;
        height: auto;
        position: relative;
        top: 0;
        transition: top $transition;
        z-index: 0;

        li {
            width: 100%;
        }
    }

    .body-overlay-clear {
        .omni-mobile-menu {
            z-index: 1;
        }
    }
}

// Open Full
.open-full {
    label[for="nav-toggle"] {
        left: auto;
        position: fixed;
        right: 15px;
        top: 15px;
        z-index: 2;
    }

    .nav-toggle + label {
        transition: top $transition;
    }

    .content-wrapper {
        height: 100%;
        opacity: 1;
        transition: all $transition;
    }

    .nav-toggle:checked + label {
        top: 0;
        transition: top $transition;
    }

    .nav-toggle:checked ~ .content-wrapper {
        box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
        height: 0;
        opacity: 0;
        overflow: hidden;
        transition: all $transition;
        z-index: -1;
    }

    .omni-mobile-menu {
        top: 0;
        transition: top $transition;

        li {
            width: 100%;
        }
    }

    .body-overlay {
        opacity: 1;
    }

    .overlay-clear {
        opacity: 0;
    }
}

// Media Queries
@media screen and (max-width: 768px) {
    .omni-mobile-menu,
    .nav-toggle,
    label[for="nav-toggle"] {
        display: block;
    }
}