// Table of Contents
// 1. Variables
// 2. Globals
// 3. Content
// 4. Menu
// 5. Toggle
// 6. Open Left
// 7. Open Right
// 8. Open Full
// 9. Media Queries

// Variables
$omni-blue: #025b85;
$transition: 0.2s ease-in-out;

// Globals
html,
body {
    font-family: sans-serif;
    font-size: 16px;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%;
    width: 100%;
}

body {
    overflow-x: hidden;

    &.menu-open {
        overflow: hidden;
    }
}

html {
    &.no-scroll {
        overflow-y: hidden;
    }
}

// Content
.content-wrapper {
    background-color: #fff;
    bottom: 100%;
    left: 0;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
    overflow-x: hidden;
    position: relative;
    top: 0;
    transition: left 0.2s ease-in-out;
    z-index: 1;
}

.body-overlay {
    background: #fff;
    bottom: 0;
    height: 100vh;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.2s ease-in-out;
    width: 100vw;
    z-index: 1;
}

.menu-open .body-overlay {
    background: transparent;
    transition: all 0.2s ease-in-out;
    z-index: 2;
}

.content {
    padding: 60px 40px;
}

// Menu
.omni-mobile-menu,
.toggle-btn {
    display: none;
}

.omni-mobile-menu {
    background: $omni-blue;
    bottom: 0;
    height: 100vh;
    list-style: none;
    margin-top: 0;
    padding-left: 0;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    width: 70vw;
    z-index: 0;

    li {
        background-color: transparent;
        z-index: 1;
    }

    a {
        background: transparent;
        border-bottom: 2px solid darken($omni-blue, 3%);
        color: #fff;
        display: block;
        font-size: 14px;
        font-weight: normal;
        padding: 20px;
        text-decoration: none;
        transition: color 0.2s, background 0.5s;

        &:hover {
            color: #fff;
        }
    }
}

.menu-open .omni-mobile-menu {
    overflow-x: hidden;
    overflow-y: scroll;
}

.omni-dropdown-toggle {
    cursor: pointer;

    &:after {
        border-style: solid;
        border-width: 3px 3px 0 0;
        box-sizing: unset;
        content: '';
        display: inline-block;
        height: 5px;
        left: 15px;
        position: relative;
        top: 4px;
        transition: transform 0.3s ease;
        transform: rotate(135deg);
        vertical-align: top;
        width: 5px;
    }

    &.omni-menu-open:after {
        top: 8px;
        transition: transform 0.3s ease;
        transform: rotate(-45deg);
    }
}

.omni-dropdown-menu {
    color: #fff;
    display: none;
    font-size: 12px;
    list-style: none;
    padding-left: 0;
    z-index: 1;

    li {
        width: 100%;

        a {
            display: block;
            padding-left: 50px;
            width: 100%;
        }

        ul li a {
            padding-left: 90px;
        }
    }
}

.swipe-area {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50px;
    z-index: 0;
}

// Toggle
.toggle-btn .hamburger {
    background-color: $omni-blue;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 9px 10px 11px;

    .icon-bar {
        background-color: #fff;
        border-radius: 1px;
        display: block;
        height: 3px;
        position: relative;
        transition: all 0.4s;
        width: 28px;

        &:not(:last-child) {
            margin-bottom: 4px;
        }

        &:nth-of-type(2) {
            top: 1px;
        }

        &:nth-of-type(3) {
            top: 2px;
        }
    }
}

.menu-open .hamburger .icon-bar {
    &:nth-of-type(1) {
        top: 8px;
        transform: rotate(45deg);
    }

    &:nth-of-type(2) {
        background-color: transparent;
    }

    &:nth-of-type(3) {
        top: -6px;
        transform: rotate(-45deg);
    }
}

// Open Left
.open-left {
    .toggle-btn {
        left: 15px;
        position: fixed;
        right: auto;
        top: 15px;
        transition: all 0.2s ease-in-out;
        z-index: 2;
    }

    .content-wrapper {
        transition: all 0.2s ease-in-out;
    }

    &.menu-open {
        .toggle-btn {
            left: calc(70vw + 40px);
            transition: left 0.2s ease-in-out;
        }

        .content-wrapper {
            box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
            left: 70vw;
            overflow: hidden;
            transition: left 0.2s ease-in-out;
        }

        .body-overlay {
            left: 70vw;
        }
    }
}

// Open Right
.open-right {
    .toggle-btn {
        left: auto;
        position: fixed;
        right: 15px;
        top: 15px;
        transition: all 0.2s ease-in-out;
        z-index: 2;
    }

    .content-wrapper {
        transition: all 0.2s ease-in-out;
    }

    .omni-mobile-menu {
        left: 30vw;
        transition: left 0.2s ease-in-out;
    }

    &.menu-open {
        .toggle-btn {
            right: calc(70vw + 40px);
            transition: right 0.2s ease-in-out;
        }

        .content-wrapper {
            box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
            left: -70vw;
            overflow: hidden;
            transition: left 0.2s ease-in-out;
        }

        .body-overlay {
            left: -70vw;
        }
    }
}

// Open Full
.open-full {
    .toggle-btn {
        left: auto;
        position: fixed;
        right: 15px;
        top: 15px;
        transition: top 0.2s ease-in-out;
        z-index: 2;
    }

    .content-wrapper {
        height: 100%;
        opacity: 1;
        transition: all 0.2s ease-in-out;
    }

    .omni-mobile-menu {
        top: 0;
        transition: top 0.2s ease-in-out;
        width: 100vw;

        li {
            width: 100%;
        }
    }

    .body-overlay {
        opacity: 1;
    }

    &.menu-open {
        .toggle-btn {
            top: 0;
            transition: top 0.2s ease-in-out;
        }

        .content-wrapper {
            box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
            height: 0;
            opacity: 0;
            overflow: hidden;
            transition: all 0.2s ease-in-out;
            z-index: -1;
        }

        .body-overlay {
            opacity: 0;
            z-index: 0;
        }
    }
}

// Media Queries
@media screen and (max-width: 768px) {
    .omni-mobile-menu,
    .toggle-btn {
        display: block;
    }
}